table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.pointer{
    cursor: pointer;
}
button:focus{
    outline: none;
}

@media (max-width: 425px) {
    .header{  
         display: none;
    
    }
    .fila{
        width: 100%;
    }
  }
