<div class="row">
    <div class="col-lg-6">
        <h2 class="title">
            Listado de Empleados
        </h2>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
        <button mat-raised-button color="warn" class ="add" routerLink="/add">Agregar</button>
    </div>
</div>

<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" autocomplete="off">
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="nombreCompleto">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
            <span class="mobile-label">Nombre Completo </span>
            {{element.nombreCompleto}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="correo">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Correo </span>
            {{element.correo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estadoCivil">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Estado Civil </span>
            {{element.estadoCivil}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaIngreso">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de ingreso </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Fecha de ingreso </span>
            {{element.fechaIngreso | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sexo">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Sexo</span>
            {{element.sexo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="mobile-label">Teléfono</span>
            {{element.telefono}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
            <span class="mobile-label">Acciones</span>
            <a routerLink="edit/{{i}}" class="pointer" style="color: #1878B0">
                <mat-icon>edit</mat-icon>
            </a>
            <a (click)="eliminarEmpleado(i)" class="pointer" style="color: #E15639">
                <mat-icon>delete</mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>