<div class="row">
    <div class="col-lg-6">
        <h2>Agregar Empleado</h2>
    </div>
</div>
<pre> {{myForm.value| json}}  </pre>
<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="myForm">
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Correo</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <br>
            <br>

            <div class="col-lg-12">
                <mat-form-field class="example-full-width" class="example-container">
                    <mat-label>Fecha de ingreso</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Teléfono</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Estado civil</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
                        {{estadoCivil}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-radio-group aria-label="Seleccione estado civil" class="example-container">
                    <mat-radio-button value="Femenino" style="margin-right: 10px;">Femenino</mat-radio-button>
                    <mat-radio-button value="Masculino">Masculino</mat-radio-button>
                  </mat-radio-group>
            </div>
            <br>
            <br>
            <div class="col-lg-12">
                <button class=" btn btn-success btn-lg float-right"  style="margin-left: 10px;" routerLink="/">Aceptar</button>
                <button class="btn btn-secondary btn-lg float-right">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/img/crear-usuario.jpg" alt="">
    </div>

</div>