    
img{  
    width: 95%;
    height: 95%;

}

@media (max-width: 425px) {
    img{  
     margin-top: 15px;
     position: 0;
    
    }
  }

.example-container{
    width: 100%;
    font-size: 16px !important;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.btn-success{
    background-color: #f44336;
    border-color: #f44336;
}

.mda-form-msg{
    color: #f44336;
}

